.fighterTable img {
  width: 90px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.fighterTable td {
  border-bottom: 1px solid rgb(255,184,97);

}

.fighterTable-list-item {
  /* margin-right: 10px; */
}

.fighterTable-list-item:hover{
  /* background-color: rgb(73, 73, 73, 0.05) */
  background-color: rgb(255, 105, 97, 0.1);
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.1); */
}

.fighterTable-fighter-name {
  font-size: 24px;
  margin-right: 10px;
  padding-left: 10px;
  /* border-bottom: 1px solid #ddd; */
}

.fighterTable-fighter-weightclass {
  padding-right: 10px;
  padding-left: 10px;
  /* border-bottom: 1px solid #ddd; */
}

.fighterTable-list-item-addToTeam-BUTTON-false {
  visibility: visible;
  background-color: rgb(15, 15, 15, 0.8);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: none;
}

.fighterTable-list-item-addToTeam-BUTTON-true {
  visibility: hidden;
  background-color: rgb(15, 15, 15, 0.8);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: none;
}
