.fighterTable img {
  width: 90px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.fighterTable td {
  border-bottom: 1px solid rgb(97, 208, 149, 1);

}

.fighterTable-list-item {
  /* margin-right: 10px; */
}

.fighterTable-list-item:hover{
  /* background-color: rgb(73, 73, 73, 0.05) */
  background-color: rgb(239, 35, 60, 0.1);
  cursor: pointer;
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.1); */
}

.fighterTable-fighter-name {
  font-size: 24px;
  margin-right: 10px;
  padding-left: 10px;
  font-weight: 900;
  /* border-bottom: 1px solid #ddd; */
}

.fighterTable-fighter-weightclass {
  padding-right: 10px;
  padding-left: 10px;
  /* border-bottom: 1px solid #ddd; */
}

.fighterTable-list-item-addToTeam-BUTTON-false {
  visibility: visible;
  background-color: rgb(97, 208, 149);
  font-size: 12px;
  padding: 10px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  color: white;
  /* border: none; */
  border-bottom: 5px solid transparent;
  z-index: 200;
}

.fighterTable-list-item-addToTeam-BUTTON-false:hover {
  visibility: visible;
  /* background-color: rgb(121, 209, 162); */
  cursor: pointer;
  border-bottom: 5px solid rgb(43, 45, 66, 0.4);
}

.fighterTable-list-item-addToTeam-BUTTON-false:focus {
  outline: none;
}

.fighterTable-list-item-addToTeam-BUTTON-false:active {
  transform: scale(0.99);
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.fighterTable-list-item-addToTeam-BUTTON-true {
  visibility: hidden;
}

.fighterTable-fighter-W {
  color: rgb(97, 208, 149);
  width: 25px;
  text-align: center;
}

.fighterTable-fighter-L {
  color: rgb(133, 133, 113);
  width: 25px;
  text-align: center;
}

.fighterTable-fighter-D {
  color: rgb(190, 190, 190);
  width: 25px;
  text-align: center;
}
