.selectedFighterImage {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width: auto;
 height: 400px;
 overflow: hidden;
}

.selectedFighterImage img {
    width: auto;
    height: 500px;
    margin: 200px 80px 0px 40px;
}

.selectedFighterDetails {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center;
}

.imageAndDetails {
 display: flex;
 justify-content:flex-start;
 justify-content: center;
 background: rgb(254, 254, 254);
 padding: 20px;
}

.imageAndDetails {
 color: red;
}

.backToListBtn {
  background-color: rgb(97, 208, 149, 1);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;

    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10px; /* Stay at the top */
    left: 7px;
}
