.teamListItem-fighter-thumbnail {
  width: 70px;
  padding-bottom: 5px;
}

.teamListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.teamListItem-divider {
  margin-top: 7px;
  margin-bottom: 15px;
  height:1px;
  width: 140%;
  background:rgb(255,184,97);
}

.teamListItem-delete-one-BUTTON{
  background-color: rgb(239, 239, 239, 1.0);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}


@media only screen and (max-width: 1245px) {
  .teamListItem-divider {
    margin-top: 0px;
    margin-bottom: 0px;
    background:rgb(74, 189, 172, 0.0);
  }

}
