.title-container{
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  /* border-radius: 40px; */
  /* align-items: center; */
}

.title-container h1{
  font-size: 90px;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 1245px) {
  .title-container h1 {
    margin-top: 220px;
    margin-bottom: 0px;
    background:rgb(74, 189, 172, 0.0);
  }

}
