.fighter-container {
  margin-left: 180px;
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1245px) {
  .fighter-container {
    margin-left: 0px;
  }
}

.barChartAndMap-container {
  /* width: 80vw; */
  display: flex;
  flex-wrap: wrap;
}

.fighterBarChart-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  width: 45%
}

.pieChart-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 50%; */
}

.pieChart {

}

.barChart-container {
  /* width: 50%; */
}

.barChart {
  /* width: 100%; */
  align-items: center;
}
